@import '../../scss/varibles';

.container {
    height: calc(100vh - 57px);

    img {
        max-width: 493px;
        max-height: 175px;
        margin: auto;
    }
    .btn {
        width: 201px;
        height: 47px;
        margin: auto;
        margin-top: 45px;
        border-radius: 8px;
        &.btn-primary,
        &.btn-primary:hover {
            background-color: $primary-blue;
            border-color: $primary-blue;
        }
    }
}

@media (max-width: 550px) {
    .container {
        img {
            max-width: 250px;
        }
    }
}