.container {
    height: calc(100% - 57px);

    img {
        max-width: 493px;
        max-height: 175px;
        margin: auto;
    }
    .btn {
        width: 201px;
        height: 47px;
        margin: auto;
        margin-top: 45px;
    }
}