@import '../../scss/varibles';

.container {
    height: calc(100% - 57px);
    // overflow-x: scroll;
    // .col {
        
    // }
    .winner,
    .battle {
        height: 100%;
        align-items: center;
    }
    .title {
        width: 169px;
    }
    .btn {
        width: 201px;
        height: 47px;
        &.btn-text {
            margin-top: 36px;
            margin-bottom: 13px;
        }
    }
}
