<div class="container">
    <div class="col" [@state]="position" >

            <div 
             class="battle">
                <app-poke-card class="mx-auto mx-lg-0" [pokeName]="pokemon1?.name"></app-poke-card>
                <div class="title">VS</div>
                <app-poke-card class="mx-auto mx-lg-0 mt-3 mt-md-0" [pokeName]="pokemon2?.name"></app-poke-card>
            </div>

            <div 
             class="winner">
                <div class="title mx-auto">Winner!</div>
                <app-poke-card class="mx-auto" [pokeName]="winnerName"></app-poke-card>
                <button 
                 class="btn btn-primary btn-text mx-auto"
                 (click)="startBattle()">
                    Start New battle
                </button>
                <button 
                 class="btn btn-outline-primary btn-text-secondary mx-auto" 
                 (click)="removeWinner()"
                 >
                    End game
                </button>
            </div>
    </div>
</div>
